<div class="card">
  <div class="card-header">Movie List</div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">필터:</div>
      <div class="col-md-4">
        <input type="text" />
      </div>
    </div>
    <div class="table-responsive">
      <div class="table">
        <thead>
          <tr>
            <th>
              <button class="btn-primary">이미지 보이기</button>
            </th>
            <th>영화</th>
            <th>감독</th>
            <th>개봉일</th>
            <th>주연</th>
            <th>평점</th>
          </tr>
        </thead>
        <tbody></tbody>
      </div>
    </div>
  </div>
</div>
